@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: HelveticaNeue;
  src: url('/app/fonts/HelveticaNeueLight.otf');
}

@font-face {
  font-family: HelveticaMedium;
  src: url('/app/fonts/HelveticaNeueMedium.otf');
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  @apply antialiased;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: HelveticaNeue;
}
